body{
    margin: 0;
    font-family: 'roboto';
}

header{
    background-color: #e64626;
    font-size: 1.25rem;
    font-weight: bold;
    color: #E2E2E2;
    padding: 2.2rem 2rem;
}

.header-content{

}

.nav{
    background-color: #FADCD6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.56rem 2rem;
}

.nav-text-content{
    font-size: 0.75rem;
}

.nav-bar-content{
    border: 1px dotted blue;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 3rem;
    min-height: 600px;
}

.question-box{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2rem;
}

.answer-box{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.locationButton{
    background-color: #FADCD6;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.locationButton > a {
    text-decoration: none;
}

footer{
    background-color: #F5F5F5;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}

.footer-content{
    font-size: 0.75rem;
}